*.o
*~
libtool
ltmain.sh
config.log
config.status
configure
compile
autom4te.cache
missing
test-driver
Makefile
Makefile.in
.deps
.dirstamp
aclocal.m4
arabica.pc
include/SAX/ArabicaConfig.hpp
include/SAX/ArabicaConfig.hpp.in
include/SAX/stamp-h1
tests/XSLT/test_path.hpp
*.exe
*.lo
*.la
.libs
config.cache
vs9\*.user
*.ncb
*.suo
*/Debug*
*/Release*
*.ilk
*.pdb
*.exp
*.lib
*.bsc
lib
*.tar.gz
*.tar.bz2
*.zip
vs9/mangle.sln
vs10/mangle.sln
*.stackdump
*.lnk
*.dll
spec
gmon.out
*.log
*.trs
examples/DOM/dom2pyx
examples/DOM/domwriter
examples/SAX/pyx
examples/SAX/simple_handler
examples/SAX/writer
examples/SAX/xmlbase
examples/Taggle/taggle
examples/Utils/transcode
examples/XPath/xgrep
examples/XSLT/mangle
fractal*.html
tests/SAX/filter_test*
tests/DOM/dom_test*
tests/XPath/xpath_test*
tests/Taggle/taggle_test
tests/Utils/utils_test*
tests/XSLT/xslt_test*
bin/mandelbrot-*.html
doc/html
m4/lt~obsolete.m4
m4/ltversion.m4
m4/ltsugar.m4
m4/ltoptions.m4
m4/libtool.m4
*.vcxproj.filters
*.vcxproj.user
*.sdf
ipch
test_path.hpp
*.opensdf
CMakeCache.txt
CMakeFiles
CMakeFiles/*
cmake_install.cmake

build/*
*.DS_Store*
compile
test-driver
