*.o
*~
*.tar.gz
*.tar.bz2
*.zip
*.ilk
*.pdb
*.exp
*.lib
*.bsc
*.exe
*.lo
*.la
*.ncb
*.suo
*.lnk
*.dll
*.log
*.trs
*.sdf
*.opensdf
*.DS_Store*

lib
doc/html

.libs
.deps
.dirstamp
arabica.pc

include/SAX/ArabicaConfig.hpp
include/SAX/stamp-h1
tests/XSLT/test_path.hpp

*/Debug*
*/Release*

# IDE files
vs9/mangle.sln
vs9/*.user
vs10/mangle.sln
*.vcxproj.filters
*.vcxproj.user

.idea

# Examples
examples/DOM/dom2pyx
examples/DOM/domwriter
examples/SAX/pyx
examples/SAX/simple_handler
examples/SAX/writer
examples/SAX/xmlbase
examples/Taggle/taggle
examples/Utils/transcode
examples/XPath/xgrep
examples/XSLT/mangle
fractal*.html
tests/SAX/filter_test*
tests/DOM/dom_test*
tests/XPath/xpath_test*
tests/Taggle/taggle_test
tests/Utils/utils_test*
tests/XSLT/xslt_test*
bin/mandelbrot-*.html

# Autoconf
m4/lt~obsolete.m4
m4/ltversion.m4
m4/ltsugar.m4
m4/ltoptions.m4
m4/libtool.m4
test-driver
libtool
ltmain.sh
config.log
config.status
config.cache
configure
compile
autom4te.cache
missing
Makefile
Makefile.in
aclocal.m4

# CMake
CMakeCache.txt
CMakeFiles
CMakeFiles/*
cmake_install.cmake

build/*
cmake-build-debug/

# Misc
*.stackdump

spec
gmon.out
ipch
test_path.hpp
